package {{{packagePath}}}.service.impl;


import {{{packagePath}}}.entity.{{modelName}};
import {{{packagePath}}}.mapper.{{modelName}}Mapper;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;

import org.springframework.stereotype.Service;

import lombok.extern.slf4j.Slf4j;
import lombok.RequiredArgsConstructor;

@Slf4j
@Service
@RequiredArgsConstructor
public class {{{modelName}}}Service extends ServiceImpl<{{{modelName}}}Mapper, {{{modelName}}}> {

    private final {{{modelName}}}Mapper {{{lowerModelName}}}Mapper;

}
