package {{{packagePath}}}.service;


import {{{packagePath}}}.entity.{{modelName}};
import com.baomidou.mybatisplus.extension.service.IService;


public interface {{{modelName}}}Service extends IService<{{{modelName}}}> {

}
